body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 400px;
  height: 600px;
  margin-left: 50vh;
  margin-right: 50vh;
  margin-top: 10vh;
}

.display {
  border-bottom: 5px solid;
  height: 100px;
  font-size: 50px;
  text-align: center;
  background-color: rgb(32, 32, 32);
}

.row1 > *,
.row2 > *,
.row3 > *,
.row4 > * {
  width: 125px;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
  flex-grow: 1;
  display: flex;
}

.row5 > .zero {
  width: 125px;
}

button {
  flex-grow: 1;
}

.operator,
.equals {
  color: white;
  background-color: rgb(251, 135, 26);
  opacity: 100;
}

.digit,
.decimal {
  color: white;
  background-color: rgb(66, 68, 65);
  opacity: 100;
}

.AC,
.plus-minus,
.percent {
  background-color: rgb(172, 167, 171);
  opacity: 100;
  color: rgb(66, 68, 65);
}
